{% load i18n %}{% autoescape off %}
{% blocktranslate %}Bu manzilda foydalanuvchi hisobingiz uchun parolni oʻzgartirishni soʻraganingiz uchun sizga bu xat keldi {{ site_name }}.{% endblocktranslate %}

{% translate "Iltimos, quyidagi sahifaga o'ting va yangi parolni tanlang:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Sizning foydalanuvchi nomingiz, agar unutgan bo\'lsangiz:' %} {{ user.get_username }}

{% translate "Saytimizdan foydalanganingiz uchun tashakkur!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
